* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #fff;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 15%;
    z-index: 1000;
    animation: slideDown 2s forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.Nav-bar {
    display: flex;
    gap: 1rem;
}

/* Main Content */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 15%;
}

.hero-content {
    margin-bottom: 10rem;
}

.hero-content a {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #6c38a1;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

#hero {
    opacity: 0;
    animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#hero h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

#hero p {
    font-size: 1.2rem;
    color: #ccc;
}
